@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.typography {
  margin: 0;
  color: $color-charcoal-black;
}

// H1 variant
.typography--h1 {
  @include typography-h1;
}

.weight-semibold {
  font-weight: $font-weight-semibold;
}

.weight-bold {
  font-weight: $font-weight-bold;
}

.weight-regular {
  font-weight: $font-weight-regular;
}

.weight-medium {
  font-weight: $font-weight-medium;
}

// Body variants
.typography--body-large-medium {
  @include typography-body-large-medium;
}

.typography--body-large-regular {
  @include typography-body-large-regular;
}

.typography--body-regular-regular {
  @include typography-body-regular-regular;
}

.typography--body-small-medium {
  @include typography-body-small-medium;
}

.typography--body-small-regular {
  @include typography-body-small-regular;
}

// Color variants
.typography--color-white {
  color: white;
}

.typography--color-inherit {
  color: inherit;
}
